<!DOCTYPE html>
<html>
<head>
    <title>POST</title>
    <meta charset="utf-8" />
    <style type="text/css">
    input {
      width: 800px;
      height: 200px;
    }
  </style>
</head>
<body>
    <div id="message"></div>
     <p>
        Paste data: <br />
        <input name="habrtext" id="habrtext" />
    </p>
    <button onclick="send()">Отправить</button>
<script>
    async function send(){

        const habrtext = document.getElementById("habrtext").value;

        const response = await fetch("/hello", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    text: habrtext,
                })
            });
            if (response.ok) {
                const data = await response.json();
                document.getElementById("message").textContent = data.message;
            }
            else
                console.log(response);
    }
</script>
</body>
</html>
